allow-flight=true
difficulty=peaceful
enable-command-block=true
enable-rcon=true
force-gamemode=true
gamemode=creative
generate-structures=false
level-name=colorizer_server_smoke
max-players=2
motd=Chest Colorizer dedicated classloading smoke
online-mode=false
player-idle-timeout=0
rcon.password=CHANGE_ME_LOCAL_ONLY
rcon.port=11432
server-ip=127.0.0.1
server-port=11431
simulation-distance=4
spawn-protection=0
view-distance=4
