allow-flight=true
difficulty=peaceful
enable-command-block=true
enable-rcon=true
enforce-secure-profile=false
gamemode=creative
generate-structures=false
level-name=mishang-oldworld-fixture
max-players=4
motd=Mishang 1.21.1 Existing World Compatibility Smoke
online-mode=false
op-permission-level=4
rcon.password=CHANGE_ME_LOCAL_ONLY
rcon.port=10750
server-ip=127.0.0.1
server-port=10749
spawn-animals=false
spawn-monsters=false
spawn-npcs=false
spawn-protection=0
sync-chunk-writes=true
view-distance=4
simulation-distance=4
